Documents
Downloads
Desktop
apps
Videos
CalibreLibrary
configuration
projects
.adobe
.aptitude
.cache
.config
.dbus
.FBReader
.fonts
.freemind
.freeplane
.gem
.git
.gnome
.gnome2
.gnupg
.grabMyBooks
.gstreamer-0.10
.icons
.ivy2
.java
.kde
.local
.PyCharm*
.RubyMine*
.WebStorm*
.Skype
.atom
.mozilla
.macromedia
.matplotlib
.opera
.npm
.nvm*
.rvm
.pip
.pki
.node-gyp
.sbt
.ssh

.subversion


*.swp

.bash_history
.dbshell
.dmrc
.gtkrc-2.0
.kderc
.irb-history
.lesshst
.directory
.viminfo
.Xauthority
.zcompdump
